<br>
<form action="/animals/new" method="LINK"><input type="submit" value="Add New Animal"></form>
<h2>Animal List</h2>
<br>
<div id="animal-wrapper">
  <% for animal in @animals%>

  <div class="animal">
    <h3><a href="/animals/<%= animal.id %>"><%= animal.name%></a></h3>
  </div>

  <% end %>
