<!DOCTYPE html>
<html>
<head>
  <title>Welcometo the Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<body>
<b>PLEASE SELECT AN OPTION ABOVE AND HAVE A NICE DAY!<B>
</body>
</html>
