<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <MARQUEE bgcolor = "#fa8072" direction="down" width="370" height="70" behavior="alternate">WELCOME TO THE MID 90's ANIMAL SHELTER!!</MARQUEE>
  <nav id="menu">
    <img src = "/images/gif.gif" width ="120" height ="100">
    <li class="menu-item"><a href='/animals'>Animals</a></li>
    <li class="menu-item"><a href='/owners'>Owners</a></li>
  </nav>

  <%= yield %>

</body>
</html>
